@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    height: 60px;
    background: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

nav ul{
    display: flex;
    padding: 20px;
    list-style: none;
    margin-left: 80px;
}

nav li{
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
}

nav li:hover{
    text-decoration: 5px orangered underline;
}

#logo{
    margin-left: 20px;
}

button{
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color: orangered;
    box-shadow: 2px 5px 2px rgb(131, 35, 0);
    margin-left: auto; 
    margin-right: 20px;
    transition: transform 0.5sec;
    cursor: pointer;
}

button:hover{
    transform: translateY(3px);
}

button a{
    text-decoration: none;
    color: white;
}

#sun{
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    background-color: rgb(215, 212, 212);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#sun:hover{
    transform: translateY(2px);
}

.icon{
    display: none;
}

.bridge{
    height: 140vh;
    background: none;
    position: relative;
}

.bridge-cont{
    height: 550px;
    width: 500px;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sendr{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
    width: 300px;
    border-radius: 25px;
    background-color: rgb(202, 201, 201);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.sender, .maker{
    height: 100%;
    background: none;
    border-radius: 25px;
    align-items: center;
    padding: 10px;
}

.sender, .maker h1{
    color: white;
    text-align: center;
}

.sender:hover{
    background-color: orangered;
    cursor: pointer;
    box-shadow: 2px 5px 2px rgb(131, 35, 0);
}
.maker:hover{
    background-color: orangered;
    cursor: pointer;
    box-shadow: 2px 5px 2px rgb(131, 35, 0);
}

.ted{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.from, .to{
    height: 140px;
    width: 100%;
    background-color: rgb(172, 167, 167);
    border-radius: 20px;
}

#rotate{
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: orangered;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.toggle{
    display: none;
}

#on, #off{
    font-size: 30px;
    cursor: pointer;
    margin-left: auto;
}

select{
   padding: 5px;
   margin-left: 5px;
   background-color: rgb(194, 190, 190);
   outline: none;
   border-radius: 6px;
   cursor: pointer;
}

option{
    background-color: white;
    text-align: center;
}

#send{
    background-color: orangered;
    cursor: pointer;
    width: 450px;
    border-radius: 30px;
    height: 50px;
    margin-top: 10px;
}

h2 .fas{
    font-size: 15px;
}

h2{
    font-size: 12px;
    margin-bottom: 10px;
}

.infom{
    margin-top: 30px;
}